@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    background-image: url(./../assets/bg.png);
   
}
body{
    background: linear-gradient(186deg, rgb(234, 222, 222), rgb(211 187 145));
    
    
}

/* shared style */
img{
    width: 100%;
}
.display-flex{
    display: flex;
}
.btn{
    font-weight: 800;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 10px 40px;
    background-color: rgba(17, 17, 17, 1);
    border-radius: 12px;
}
.display-grid{
    display: grid;
    grid-template-columns: 300px, repeat(2,1fr);
   row-gap: 20px;
   column-gap: 20px;
}
.s-card-2{
    max-height: 300px;
}


/* nav style */
.nav-box{
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 185px;
}
.logo{
    align-items: center;
    gap: 30px;
}
.nav-content{
    align-items: center;
    gap: 20px;
}
.nav-links{
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 800;
}


   

.nav-link{
    text-decoration: none;
}
#home{
  color:rgba(254, 163, 1, 1);
}
#About{
    color: rgba(1, 172, 253, 1);
}

#Facilities{
    color: rgba(5, 212, 223, 1);
}
#Admission{
    color: rgba(93, 88, 239, 1);
}
.nav-btn{
    background-color: rgba(254, 163, 1, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.25rem;
}
.bars-3{
    width: 30px;
    height: 30px;
    padding-top:  10px;
    display: none;
}


/* banner-style */
.banner{
    width: 90%;
    margin: 100px auto;
}
.banner-box{
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

 .banner-title{
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 24px;
 } 
 #first-word{
    color: rgba(254, 163, 1, 1);
  
 } 
 #last-word{
     color: rgba(1, 172, 253, 1);
 }
 .banner-description{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 24px;
 }
 .banner-content{
    width: 640px;
    height: 331px;
 }


 /* curriculum style */
.curriculum{
    width: 90%;
    margin: 100px auto;
    margin-bottom: 150px;
}

.curriculum-title{
  text-align: center;
  margin-bottom: 100px;
  margin-top:100px;
}
.card{
  padding: 52px 40px;
  width: 370px;
  height: 300px;
  text-align: center;
  border-radius: 19px;
}
.card-box{
    justify-content: space-between;
    margin-bottom: 100px;
}
.card-1{
    background:linear-gradient(180deg,rgb(185, 206, 214),rgba(224, 202, 202, 0)) ;
}
.card-2{
    background: linear-gradient(180deg,rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
}
.card-3{
    background: linear-gradient(180deg,rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
}
.card .card-title{
   font-size: 1.5rem;
   font-weight: 800;
   color: rgba(32, 32, 32, 1);
  
   margin-bottom: 32px;
}
.card .card-description{
    font-weight: 500;
    font-size: 0.95rem;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 33px;

}
.card img{
    height: 136px;
    width: 136px;
   
}
.card-foot{
    font-weight: 800;
    font-size: 0.95rem;
    margin-bottom: 50px;
}
#card-foot-1{
  color: rgba(100, 200, 255, 1);
}
#card-foot-2{
    color: rgba(240, 170, 0, 1);
}
#card-foot-3{
    color: rgba(135, 0, 255, 1);
}
.box-foot-img{
    text-align: center;
    margin: 100px auto ;
  
    background-color: none;
}
.foot-img{
    width: 60px;
    height: 60px;
    
    
}

/* stories styles */
.s{
    margin: 100px, 0;
    margin-top: 200px;
}
.s-box{
    width: 90%;
    margin:0 auto;
    
}

.s-title{
    text-align: center;
    margin: 50px 0;
    color:rgba(0, 0, 0, 1);
    font-size: 2.85rem;
    font-weight: 800; 
}
.s-card-box{
    justify-content: space-between;
    gap: 10px;
    height: fit-content;
    margin: 0 auto;

    margin: 0 80px;
}
.s-card-1{
    
    background-color: rgba(255, 255, 255, 1);
   
    border-radius: 10px;
    width: 540px;
}
.s-img-1 > img{
    width: 100%;
    
    
}
.s-card-content{
    padding: 30px;
}
.s-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 216, 232, 1);
    font-size: 0.95rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    position: relative;
    top: -55px;
}
.s-card-title{
    color:rgba(0, 0, 0, 1);
     margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.s-card-description{
    color:rgba(102, 102, 102, 1);
   
    font-size:0,95rem;
    font-weight: 600;
   
}

.s-square-card{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    gap: 10px;
    width: 601px;
    justify-content: space-between;
}
.s-card-2{
    color:rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1) ;
    font: size 0.95rem;;
    font-weight: 800 ;
    border-radius: 10px;
    height: 302px;
    
    
    
}

.btn-2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 216, 232, 1);
    font-size: 0.95rem;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 16px;
    border: none;
    position: relative;
    top: -40px;
}

.btn-box-2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.s-card-title-2{
    color:rgba(0, 0, 0, 1);
    margin-top: 10px;
   font-size: 0.95rem;
   font-weight: 800;
}

/* footer style */
.f{
    background-color: rgba(1, 172, 253, 1);
}

.f-box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px repeat(2,1fr);
    padding-top: 100px;
    padding-bottom: 150px;
    
   
}
.f-second{
    padding-left: 70px;
}

.f-content{
    align-items: center;
    gap: 20px;
}
.f-first-title{
    color:rgba(255, 255, 255, 1);
   
    font-size:2.63rem;
    font-weight: 600;
   
}
.f-description{
    color:rgba(255, 255, 255, 1);
    
    font-size:1.25rem ;
    font-weight: 600;
    margin-top:50px ;
}
.f-img>img{
    height: 110px;
}
.f-second-title{
    color:rgba(255, 255, 255, 1);
  
    font-size: 1.5rem;
    font-weight: 800;
    
}
.f-second-subtitle{
    color:rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 600;
   
    
}
ul > li {
    /* text-decoration: none; */
    list-style: none;
}
li>a{
    text-decoration: none;
}
li{
    margin: 20px 0;
}
.f-sub-title{
    margin-top: 30px;
}
.f-third-icon{
    justify-content: space-between;
    gap: 30px;
}
.f-third-title{
    color:rgba(255, 255, 255, 1);
 
    font-size:1.5rem;
    font-weight: 800;
    margin-bottom: 30px ;
}
.f-first{
    padding-left: 50px;
    padding-right: 50px;
}
.hide{
    display: none;
}

/* responsive media  */

@media screen  and (max-width:576px){

  
   /* nav */
   .nav-links, 
   .nav-title,
   .nav-btn{
    display: none;
   }
   .bars-3{
    display: block;
   
   }
   /* banner */
   .banner-content{
    width: 100%;
   }
   .banner-box{
    flex-direction: column-reverse;
   }
   /* curriculum */
   .card-box{
    flex-direction: column;
   }
   .card{
    width: 80%;
   }

   /* s section */
   .s-card-1{
    display: none;
    }
    .s-card-box{
        flex-direction: column;
    }
   .s-square-card{
    grid-template-columns: repeat(2,.5fr);
   
   }
  .s-card-2{
    width: 100%;
    
  }
  /* footer section */
  .f-box{
    grid-template-columns: repeat(1,1fr);
  }
  .f-first{
    padding-left: 0;
  }
  .f-second{
    padding-left: 0;
    padding-top: 60px;
  }
  .f-third{
    padding-top: 60px;
  }
  .f-description{
    margin-top: 30px;
  }
  li{
    margin: 10px 0;
 }
 .f-third-title{
    margin-bottom: 20px ;
 }
}