@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    background-image: url(./../assets/bg.png);
    /* background: linear-gradient(90deg,rgba(255, 255, 255, 1) ,rgba(254, 163, 1, 1)); */
}

/* shared style */
.display-flex{
    display: flex;
}
.btn{
    font-weight: 800;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 10px 40px;
    background-color: rgba(17, 17, 17, 1);
    border-radius: 12px;
}

/* nav style */
.nav-box{
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 185px;
}
.logo{
    align-items: center;
    gap: 30px;
}
.nav-content{
    align-items: center;
    gap: 20px;
}
.nav-links{
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 800;
}


   

.nav-link{
    text-decoration: none;
}
#home{
  color:rgba(254, 163, 1, 1);
}
#About{
    color: rgba(1, 172, 253, 1);
}

#Facilities{
    color: rgba(5, 212, 223, 1);
}
#Admission{
    color: rgba(93, 88, 239, 1);
}
.nav-btn{
    background-color: rgba(254, 163, 1, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.25rem;
}


/* banner-style */
.banner{
    width: 90%;
    margin: 100px auto;
}
.banner-box{
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

 .banner-title{
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 24px;
 } 
 #first-word{
    color: rgba(254, 163, 1, 1);
  
 } 
 #last-word{
     color: rgba(1, 172, 253, 1);
 }
 .banner-description{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 24px;
 }
 .banner-content{
    width: 640px;
    height: 331px;
 }


 /* curriculum style */
.curriculum{
    width: 90%;
    margin: 100px auto;
}

.curriculum-title{
  text-align: center;
  margin-bottom: 100px;
  margin-top:100px;
}
.card{
  padding: 52px 40px;
  width: 370px;
  height: 300px;
  text-align: center;
  border-radius: 19px;
}
.card-box{
    gap: 28px;
}
.card-1{
    background:linear-gradient(180deg,rgba(222, 245, 255, 1),rgba(255, 255, 255, 0)) ;
}
.card-2{
    background: linear-gradient(180deg,rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
}
.card-3{
    background: linear-gradient(180deg,rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
}
.card .card-title{
   font-size: 1.5rem;
   font-weight: 800;
   color: rgba(32, 32, 32, 1);
   /* margin-top: 32px; */
   margin-bottom: 32px;
}
.card .card-description{
    font-weight: 500;
    font-size: 0.95rem;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 33px;

}
.card img{
    height: 136px;
    width: 136px;
    /* margin: 50px 115px; */
}
.card-foot{
    font-weight: 800;
    font-size: 0.95rem;
    margin-bottom: 50px;
}
#card-foot-1{
  color: rgba(100, 200, 255, 1);
}
#card-foot-2{
    color: rgba(240, 170, 0, 1);
}
#card-foot-3{
    color: rgba(135, 0, 255, 1);
}
.box-foot-img{
    text-align: center;
    margin: 100px auto ;
  
    background-color: none;
}
.foot-img{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
}


/* responsive media  */
@media screen  and(max-width:576px){
    .nav-box{
      
    }
    .nav-links{
        display:;
    }
}